#
# The MySQL  Server configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html
#
# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/8.0/en/server-configuration-defaults.html

[client]
port                  = 3306
socket                = "/var/run/mysqld/mysqld.sock"
default-character-set = "utf8mb4"

[mysql]
default-character-set = "utf8mb4"

[mysqld]
user                  = mysql
port                  = 3306
basedir               = "/usr"
datadir               = "/var/lib/mysql"
secure-file-priv      = "/var/lib/mysql-files"
pid-file              = "/var/run/mysqld/mysqld.pid"
socket                = "/var/run/mysqld/mysqld.sock"
log-error             = "/var/log/mysql-error-log.log"
tmpdir                = "/tmp"
bind-address          = 0.0.0.0
skip-external-locking = ON
skip-name-resolve     = ON
skip-host-cache

# Configure master / replication
server-id                       = 1
read_only                       = OFF
sync_binlog                     = 1
expire_logs_days                = 7
binlog_format                   = row
log-slave-updates               = ON
log_bin                         = "/var/lib/mysql/mysql-bin.log"
slave_net_timeout               = 60
master_info_repository          = TABLE
relay_log_info_repository       = TABLE
relay_log_recovery              = ON
explicit_defaults_for_timestamp = ON
gtid_mode                       = OFF
enforce_gtid_consistency        = ON

# Confiugre slow query log
slow-query-log-file           = "/var/log/mysql-slow-log.log"
slow-query-log                = ON
log-queries-not-using-indexes = ON
long_query_time               = 1

back_log                      = 300
key_buffer_size               = 8M
max_allowed_packet            = 64M
max_connections               = 5000
table_definition_cache        = 2000
table_open_cache              = 4000
table_open_cache_instances    = 16

# Configure character and collation
character-set-server                = "utf8mb4"
collation-server                    = "utf8mb4_unicode_ci"
init_connect                        = "SET collation_connection = 'utf8_unicode_ci'; SET NAMES 'utf8';"
skip-character-set-client-handshake = true

# Configure InnoDB variables.
innodb_buffer_pool_size         = 128M
innodb_buffer_pool_instances    = 4
innodb_concurrency_tickets      = 5000
innodb_io_capacity              = 200
innodb_io_capacity_max          = 2000
innodb_open_files               = 4000
innodb_thread_concurrency       = 4
innodb_read_io_threads          = 4
innodb_write_io_threads         = 4
innodb_purge_threads            = 4
innodb_lock_wait_timeout        = 10
innodb_file_per_table           = ON
innodb_print_all_deadlocks      = ON
innodb_status_output            = ON
innodb_status_output_locks      = ON
innodb_flush_method             = O_DIRECT
innodb_flush_log_at_trx_commit = 1

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links = OFF

# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin

# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 8M
# read_rnd_buffer_size = 16M
# read_rnd_buffer_size = 32M

# Remove leading # to revert to previous value for default_authentication_plugin,
# this will increase compatibility with older clients. For background, see:
# https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_default_authentication_plugin
default-authentication-plugin = "mysql_native_password"

[mysqldump]
quick
quote-names
max_allowed_packet = 32M
